body{
	margin:0 auto;
	color:#333;
}
.menu{
background:#333;
padding: 15px;
box-shadow: 0 20px 20px -20px #FFFFFF inset, 0 -15px 15px -15px #FFFFFF inset;
color: fff;
}
.a{
	background: #333;
padding: 15px;
text-decoration: none;
color:fff;
font-size: 20px;
font-family: arial;
}
.h{
	padding: 15px;
text-decoration: none;
color:fff;
font-size: 20px;
font-family: arial;
}
input{
padding: 5px;
border-radius: 5px;
font-size: 25px;
background: floralwhite;
}
.p{
padding:15px;
}
p{
	padding: 5px;
}
h1{
	padding: 15px;
}
#q{
	padding:15px;
}
